.collection {
    border: rgba(255, 255, 255, 0);
    width: .75em;
    height: .75em;
    border-radius: .05em;
    opacity: 1;
}

.fundo {
  font-family: "Times New Roman", Times, serif;
  font-size: 10px;
  position: absolute;
  top: 0%;
  left: -655px;
  height: 94.3em;
  width: 192em;
  text-align: right;
  vertical-align: top;
}

.link { color: #ffffff; } 

.collection:hover .overlay { 
    opacity: .7;
}

.paragraph {
    font-size: 10px;
    text-align: center;
}
.paragraphdois {
  font-size: 56px;
  left: 3.0em;
  top: 0.2em;
  color: #2aa194;
  text-align: center;
  position: absolute;
}

.vermelho {
  position: absolute;
  top: 2.8px;
  left: 2.9px;
  width: 0;
  height: 0;
  border-top: .4em solid red;
  border-left: .4em solid rgba(255, 0, 0, 0);
}

.preto {
  position: absolute;
  top: 2.8px;
  left: 2.9px;
  width: 0;
  height: 0;
  border-top: .4em solid rgb(0, 0, 0);
  border-left: .4em solid rgba(255, 0, 0, 0);
}

.amarelo {
  position: absolute;
  top: 2.8px;
  left: 2.9px;
  width: 0;
  height: 0;
  border-top: .4em solid rgb(255, 242, 0);
  border-left: .4em solid rgba(255, 0, 0, 0);
}

.paragraph:hover {
    opacity: .2;
}
div.nascimento {
    font-family: "Times New Roman", Times, serif;
    font-size: 10px;
    position: relative;
    top: 400%;
    left: -100px;
    width: 100%;
    overflow: hidden;
    margin-left: auto; 
    margin-right: 0;
  }

  div.cinco {
    font-family: "Times New Roman", Times, serif;
    font-size: 10px;
    color:rgba(128, 128, 128, 0.715);
    position: relative;
    top:613%;
    left: -33px;
    overflow: hidden;
    text-align: left;
  }
  div.dez {
    font-family: "Times New Roman", Times, serif;
    font-size: 10px;
    color:rgba(128, 128, 128, 0.715);
    position: relative;
    top:893%;
    left: -33px;
    overflow: hidden;
    text-align: left;
  }
  div.quinze {
    font-family: "Times New Roman", Times, serif;
    font-size: 10px;
    color:rgba(128, 128, 128, 0.715);
    position: relative;
    top:1169%;
    left: -33px;
    overflow: hidden;
    text-align: left;
  }
  div.vinte {
    font-family: "Times New Roman", Times, serif;
    font-size: 10px;
    color:rgba(128, 128, 128, 0.715);
    position: relative;
    top:1445%;
    left: -33px;
    overflow: hidden;
    text-align: left;
  }
  div.vintecinco {
    font-family: "Times New Roman", Times, serif;
    font-size: 10px;
    color:rgba(128, 128, 128, 0.715);
    position: relative;
    top:1726%;
    left: -33px;
    overflow: hidden;
    text-align: left;
  }

  div.titulo {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 36px;
    color:#2aa194;
    position: absolute;
    top: 500%;
    left: -50px;
    overflow: hidden;
    text-align: left;
  }
  div.logo {
    font-family: "Times New Roman", Times, serif;
    font-size: 36px;
    color:#2aa194;
    position: absolute;
    top: 560%;
    left: -100px;
    overflow: hidden;
    text-align: left;
  }

  div.subtitulo {
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 36px;
    color:#2aa194;
    position: absolute;
    top: 1060%;
    left: -100px;
    overflow: hidden;
    text-align: left;
  }

  div.testiculo {
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
    font-style: italic ;
    position: relative;
    top:50%;
    right: 0;
    overflow: hidden;
    text-align: left;
  }

  div.assinatura {
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
    position: relative;
    overflow: hidden;
    top: 2450%;
    text-align: left;
  }
  
  div.informacoes {
    font-family: "Times New Roman", Times, serif;
    font-size: 26px;
    position: absolute;
    top: 780%;
    right: -100px;
    text-align: left;
  }
  .informacoes:hover .overlay { 
    opacity: .7;
}
.modalcontainer {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.816);
}
.modal {
  font-size: 20px;
  width: 20em;
  position: absolute;
  left: 39.8%;
  top: 20%;
  background-color:#faab9e;
  border-radius: .5em;  
}


.modal > .header {
  width: 100%;
  border-bottom: 1px solid;
  color: #fca494;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .contentpopup {
  width: 100%;
  top: 40px;
  padding: 10px 50px;
  text-align: center;
  color: #ffffff;
  margin: 70px 10px 5px 5px;
  font-size: 30px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}
.card-container {
    container-name: card-container;
}

@container card-container (max-width: 500px) {
    .card {
      flex-direction: row;
      gap: 0;
      position: relative;
      margin: 20% 20%;
      height: 100%;
      width: 27.3%;
    }
  }

.widget {
    background: rgba(217, 116, 116, 0);
    position: relative;
    display: flex;
    margin: 0%;
    border-radius: 0;
    height: 0.65em;
    width: 39em;
    left: 34%;
    justify-content: center;
}

.content {
    line-break: normal;
    width: auto;
    justify-content: center;
}

.widgetdois {
  background: rgba(217, 116, 116, 0);
  position: absolute;
  margin: 0%;
  border-radius: 0;
  top: 0;
  height: auto;
  width: 100%;
}

.contentdois {
  background: rgba(140, 217, 116, 0.801);
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
}

.formacao {
  font-family: "Times New Roman", Times, serif;
  font-size: 10px;
  position: absolute;
  top: 5600%;
  left: 600px;
  height: .9em;
  width: 17.75em;
  text-align: right;
  vertical-align: top;
  background-color: #FA8072;
}
.formacaodois {
  font-family: "Times New Roman", Times, serif;
  font-size: 10px;
  position: absolute;
  top: 6000%;
  left: 600px;
  height: .9em;
  width: 17.75em;
  text-align: right;
  vertical-align: top;
  background-color: #98FB98;
}
.quadrado {
  font-family: "Times New Roman", Times, serif;
  font-size: 10px;
  position: absolute;
  top: 8000%;
  left: 750px;
  height: .9em;
  width: 17.75em;
  text-align: center;
  vertical-align: top;
  background-color: #98fb9800;
}

.veticalalign {
  position: relative;
  top: -3px;
}